body {
    font-size: 15pt;
    background:black;
}
.lnk{
    text-decoration:none;
    color:#fff;
    
}
.pags{
}
.mn{
    text-align:center;
}
p{
    color: #fff;
    text-align:center;
    background: purple;
}
h2{
    text-align:center;
    color: #fff;
}

.botao{
  width:30px;
  height:30px;
  padding: 3px 6px;
  font-size: 12px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin-left:2px;
}
.livgg{
    width:100%;
    height:330px;
    background: purple;
    border: 2px solid #fff;
    margin-left: 2px
    /*+60*/
}
.livg{
    width:100%;
    height:300px;
    background: purple;
    border: 2px solid #fff;
    margin-left: 2px
    /*+50:60*/
}
.liv{
    width:100%;
    height:250px;
    background: purple;
    border: 2px solid #fff;
    margin-left: 2px
    /*+30:50*/
}
.livm{
    width:100%;
    height:190px;
    background: purple;
    border: 2px solid #fff;
    margin-left: 2px;
        /*+20:30*/
}
.livp{
    width:100%;
    height:155px;
    background: purple;
    border: 2px solid #fff;
    margin-left: 2px;
    /*+10:20*/
}
.livpp {
    width:100%;
    height: 125px;
    background: purple;
    border: 2px solid #fff;
    margin-left: 2px;
        /*10*/
}
.livs {
    width:100%;
    height: 580px;
    background: purple;
    border: 2px solid #fff;
    margin-left: 2px;
        /*Exclusivo pra salmos*/
}
.img{
    width:100%;
    height:auto;
}
img{
    max-width:100%;
    height:auto;
}
